-# change_password.html.haml using partial

%h1 Change password

= form_tag update_password_path(@user), :method => :put do

  = label_tag :user, 'Current password'
  = text_field_tag :current

  = label :user, 'New password'
  = text_field_tag :new

  = label :user, 'Confirm new password'
  = text_field_tag :confirmation

  = submit_tag 'Update password'
