-# edit.html.haml using partial

%h1 Update account for #{@user.name}

= form_tag user_path(@user), :method => :put do

  = label :user, :name, 'Name'
  = text_field :user, 'name'

  = label :user, :email, 'Email'
  = text_field :user, 'email'

  = submit_tag 'Update Account Info'

-#= button_to 'Change password', change_password_path(@user), :method => :get
