-# in app/views/movies/show.html.haml

%html
  %head
    = stylesheet_link_tag 'users'
  %body
    = render :partial => "shared/dashhead"
    %div.profile
    
      %h1 Details about #{@user.name}
      
      <strong>Email:</strong>
      = @user.email
      %br
      %br
      <strong>Joined on:</strong>
      = @user.created_at.strftime("%B %d, %Y")
      %br
      %br
      <strong>Account last updated on:</strong>
      = @user.updated_at.strftime("%B %d, %Y")
      %div
        %ul.profile_actions
          %li
            = button_to 'Edit account information', edit_user_path(@user), :method => :get
          %li
            = button_to 'Delete account', user_path(@user), :method => :delete
