-#view for admins
%html
  %head
    = stylesheet_link_tag 'users'
  %body
    = render :partial => "shared/dashhead"
    %h1 All users

    %button_to= link_to "Unassign All Overdue Videos", admin_unassign_overdue_videos_path(), {:method => :post}

    %ul{ :class => "users" }
      - @users.each do |user|
        %li
          = user.name
          ,
          = user.email
          | 
          = link_to "delete", user, :method => :delete ,:id => "#{user.id}_delete", :data => { confirm: "Are you sure you want to delete this user?" }