-#view for admins
%html
  %head
    = stylesheet_link_tag 'users'
  %body
    = render :partial => "shared/dashhead"
    %h2 Assign video - #{@video.course}, #{@video.title} to:

    %ul{ :class => "users" }
      - @users.each do |user|
        %li
          = user.name
          ,
          = user.email
          | 
          = button_to 'Assign as Typer', "/users/#{user.id}/videos/#{@video.video_id}/assign_typer" , :id => "#{user.id}_type_#{@video.video_id}", :class => "assign_button"