-#view for translations

%html
  %head
    = stylesheet_link_tag 'videos'
  %body

    .welcome Hi, #{@user.name}
    
    .table-container
      %h2{:id => "list_title"} Videos Available To Translate
      %table.table.table-striped.table-bordered{:id => "list_table"}
        %tr
          %th KABT ID
          %th Course Title
          %th Due Date
          %th Actions

        - @avail_trans.each do |video|
          %tr 
            %td= video.video_id
            %td= video.title
            %td 12/25/2013
            %td 
              %a.glyphicon.glyphicon-pencil{:href=>"#", :class => "icon"}
              %a.glyphicon.glyphicon-facetime-video{:href=>"#", :class => "icon"}

    .table-container
      %h2{:id => "list_title"} Videos Available To Digitize
      %table.table.table-striped.table-bordered{:id => "list_table"}
        %tr
          %th KABT ID
          %th Course Title
          %th Due Date
          %th Actions

        - @avail_digi.each do |video|
          %tr 
            %td= video.video_id
            %td= video.title
            %td 12/25/2013
            %td
              %a.glyphicon.glyphicon-pencil{:href=>"#", :class => "icon"}
              %a.glyphicon.glyphicon-facetime-video{:href=>"#", :class => "icon"}

    .table-container
      %h2{:id => "list_title"} Videos Available To QA
      %table.table.table-striped.table-bordered{:id => "list_table"}
        %tr
          %th KABT ID
          %th Course Title
          %th Due Date
          %th Actions

        - @avail_qa.each do |video|
          %tr 
            %td= video.video_id
            %td= video.title
            %td 12/25/2013
            %td
              %a.glyphicon.glyphicon-pencil{:href=>"#", :class => "icon"}
              %a.glyphicon.glyphicon-facetime-video{:href=>"#", :class => "icon"}

  end
  .aval_button{:class => "button", :id => "ab"} 
    %a{:id => 'a_link', :href => 'available'} Available(#{@avail.count})

  .trans_button{:class => "button"}
    %a{:id => 'a_link', :href => 'translate'} Translate(#{@trans_vids.count})

  .digi_button{:class => "button"}
    %a{:id => 'a_link', :href => 'digitize'} Digitize(#{@digi_vids.count})
 
  .qa_button{:class => "button"}
    %a{:id => 'a_link', :href => 'qa'} QA(#{@qa_vids.count})

  .compl_button{:class => "button"}
    %a{:id => 'a_link', :href => 'completed'} Completed(#{@comp.count})

  .background_bar Khan Academy Burmese Translations Portal
