-#view for translations

%html

  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"

    .table-container
      .row
        .col-md-12
          .col-md-12.col-sm-12.col-xs-12
            %h4{:class => "list_title"} Videos Available To Translate
            %table.table.table-striped.table-bordered{:id => "list_table"}
              %tr
                %th KABT ID
                %th Course
                %th Title
                %th Actions
                - if current_user.admin?
                  %th Admin Actions

              - @avail_trans.each do |video|
                %tr 
                  %td= video.video_id
                  %td= video.course
                  %td= video.title
                  %td
                    %button_to.btn.btn-primary{:id => "#{video.video_id}_translate_button"}= link_to "Assign To Me", "/users/#{@user.id}/videos/#{video.video_id}/assign_translator", {:method => :post,:style=> 'color:white;', :id => "To_Translate_translate_button"}
                  - if current_user.admin?
                    %td= link_to 'Assign To Someone Else', assign_translate_to_someone_else_path(video.video_id) , :id => "#{video.video_id}_someone_else_translate_button", :class => "btn btn-primary"




    .table-container
      .row
        .col-md-12
          .col-md-12.col-sm-12.col-xs-12
            %h4{:class => "list_title"} Videos Available To Digitize
            %table.table.table-striped.table-bordered{:id => "list_table"}
              %tr
                %th KABT ID
                %th Course
                %th Title
                %th Actions
                - if current_user.admin?
                  %th Admin Actions

              - @avail_digi.each do |video|
                %tr 
                  %td= video.video_id
                  %td= video.course
                  %td= video.title
                  %td
                    %button_to.btn.btn-primary{:id => "#{video.video_id}_digitize_button"}= link_to "Assign To Me", "/users/#{@user.id}/videos/#{video.video_id}/assign_typer",{:style=> 'color:white;', :method => :post, :id => "To_Digitize_digitize_button"}
                  - if current_user.admin?
                    %td= link_to 'Assign To Someone Else', assign_type_to_someone_else_path(video.video_id) , :id => "#{video.video_id}_someone_else_type_button", :class => "btn btn-primary"


    .table-container
      .row
        .col-md-12
          .col-md-12.col-sm-12.col-xs-12
            %h4{:class => "list_title"} Videos Available To QA
            %table.table.table-striped.table-bordered{:id => "list_table"}
              %tr
                %th KABT ID
                %th Course
                %th Title
                %th Actions
                - if current_user.admin?
                  %th Admin Actions

              - @avail_qa.each do |video|
                %tr 
                  %td= video.video_id
                  %td= video.course
                  %td= video.title
                  %td
                    %button_to.btn.btn-primary{:id => "#{video.video_id}_qa_button"}= link_to "Assign To Me", "/users/#{@user.id}/videos/#{video.video_id}/assign_qa",{:style=> 'color:white;', :method => :post, :id => "To_Qa_qa_button"}
                  - if current_user.admin?
                    %td= link_to 'Assign To Someone Else', assign_qa_to_someone_else_path(video.video_id) , :id => "#{video.video_id}_someone_else_qa_button", :class => "btn btn-primary"




  = render :partial => "shared/nav"
