-#view for translations

%html

  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"
    = render :partial => "shared/nav"
    .container
      .content
        %h4{:class => "list-title"} Videos Available To Translate
        %table.table.table-bordered{:id => "list_table"}
          %tr
            %th.kabt_course Course
            %th.kabt_title Title
            %th.kabt_actions Actions
            - if current_user.admin?
              %th Admin Actions

          - @avail_trans.each do |video|
            %tr 
              %td= video.course
              %td= video.title
              %td
                %div{:id => "#{video.video_id}_translate_button"}= link_to "Assign To Me", "/users/#{@user.id}/videos/#{video.video_id}/assign_translator", {:method => :post, :id => "To_Translate_translate_button", :class => "custom-btn2"}
              - if current_user.admin?
                %td
                  %div= link_to 'Assign To Someone Else', assign_translate_to_someone_else_path(video.video_id) , :id => "#{video.video_id}_someone_else_translate_button", :class => "custom-btn2"


        %h4{:class => "list-title"} Videos Available To Digitize
        %table.table.table-bordered{:id => "list_table"}
          %tr
            %th.kabt_course Course
            %th.kabt_title Title
            %th.kabt_actions Actions
            - if current_user.admin?
              %th Admin Actions

          - @avail_digi.each do |video|
            %tr 
              %td= video.course
              %td= video.title
              %td
                %div{:id => "#{video.video_id}_digitize_button"}= link_to "Assign To Me", "/users/#{@user.id}/videos/#{video.video_id}/assign_typer",{:method => :post, :id => "To_Digitize_digitize_button", :class => "custom-btn2"}
              - if current_user.admin?
                %td
                  %div= link_to 'Assign To Someone Else', assign_type_to_someone_else_path(video.video_id) , :id => "#{video.video_id}_someone_else_type_button", :class => "custom-btn2"


        %h4{:class => "list-title"} Videos Available To QA
        %table.table.table-bordered{:id => "list_table"}
          %tr
            %th.kabt_course Course
            %th.kabt_title Title
            %th.kabt_actions Actions
            - if current_user.admin?
              %th Admin Actions

          - @avail_qa.each do |video|
            %tr 
              %td= video.course
              %td= video.title
              %td
                %div{:id => "#{video.video_id}_qa_button"}= link_to "Assign To Me", "/users/#{@user.id}/videos/#{video.video_id}/assign_qa",{:method => :post, :id => "To_Qa_qa_button", :class => "custom-btn2"}
              - if current_user.admin?
                %td
                  %div= link_to 'Assign To Someone Else', assign_qa_to_someone_else_path(video.video_id) , :id => "#{video.video_id}_someone_else_qa_button", :class => "custom-btn2"