-#view for translations

%html
  %head
    = stylesheet_link_tag 'videos'
  %body

    = render :partial => "shared/dashhead"
    
    .table-container
      .row
        .col-md-12
          .col-md-12.col-sm-12.col-xs-12
            %h2{:class => "list_title"} Videos Assigned To Me To Digitize
            %table.table.table-striped.table-bordered{:id => "list_table"}
              %tr
                %th KABT ID
                %th Video Title
                %th Course Title
                %th Due Date
                / %th Actions

              - @digi_vids.each do |video|
                %tr 
                  %td= video.video_id
                  %td= video.title
                  %td= video.course
                  %td= video.due_date
                  / %td= button_to 'Complete', "/users/#{@user.id}/videos/#{video.video_id}/set_type_complete"
            / %td 
            / %a.glyphicon.glyphicon-pencil{:href=>"#", :class => "icon"}
            / %a.glyphicon.glyphicon-facetime-video{:href=>"#", :class => "icon"}
           
= render :partial => "shared/digi_nav"


