
%html

  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"
    = render :partial => "shared/nav"
    
    .container
      .content
        .panel.panel-success{:id => "list_table"}
          .panel-heading
            Video Details
          .panel-body
            %ul.list-group
              .list-group-item.h5 <b>Subject</b>: #{@video.subject}
              .list-group-item.h5 <b>Course</b>: #{@video.course}
              .list-group-item.h5 <b>Title</b>: #{@video.title}
        .panel.panel-info{:id => "list_table"}
          .panel-heading
            Video Status
          .panel-body
            %h4.status-header <span class="green">Available &rarr;</span> <b>Translate or Digitize</b> &rarr; QA &rarr; Complete
            .list-group
              .list-group-item.h5 <b>Due Date</b> #{@video.due_date.strftime('%b %d %Y')}
              .list-group-item
                %button_to.btn.btn-info= link_to("Digitize on Amara", @video.amara_link,{:style=> 'color:white;', :target => "_blank"})
                = link_to "Download handwritten translation", download_translation_path(@video), :id => 'download_button', :class => 'btn btn-info'
              .list-group-item
                %button_to.btn.btn-danger= link_to "Unassign Me", unassign_typer_path(),{:style=> 'color:white;', :confirm => "Are you sure you want to unassign #{@video.title} as your video to digitize?", :method => :post}
            %button_to.btn.btn-primary= link_to "Ready for QA", set_type_complete_path(),{:style=> 'color:white;', :confirm => "Are you sure #{@video.title} has been propery digitized?", :method => :post}
