-#view for translations

%html

  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"
    = render :partial => "shared/nav"
    .container
      .content
        %h4{:class => "list-title"} Videos Assigned To Me To Digitize
        %table.table.table-bordered{:id => "list_table"}
          %tr
            %th Course
            %th Title
            %th Due Date
            %th Actions

          - @digi_vids.each do |video|
            %tr 
              %td= video.course
              %td= video.title
              %td= video.due_date.strftime('%b %d %Y')
              %td
                %div= link_to "Digitize", digitize_video_path(:id => @user.id, :video_id => video.video_id), :class => "custom-btn2"