-#view for admins
%html
  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"
    .container
      .content
        .panel.panel-info{:id => "list_table"}
          .panel-heading
            %h4 Handwritten translations assigned to me
          .panel-body
            = will_paginate
            %ul.list-group
              - if !@my_handwritten.nil?
                .list-group-item.h5
                  Download all as zip 
                  |
                  = link_to "download all", download_zip_path, :id => 'download_all', :class => "btn btn-danger"
                - @my_handwritten.each do |video|
                  .list-group-item.h5
                    = video.subject
                    ,
                    = video.course
                    ,
                    = link_to video.title, video.translation_handwritten.url
                    | 
                    = link_to "download", download_translation_path(video) ,:id => "#{video.id}_download", :class => "btn btn-primary"
            = will_paginate
        .panel.panel-info{:id => "list_table"}
          .panel-heading
            %h4 All handwritten translations
          .panel-body
            = will_paginate
            %ul.list-group
              - @videos.each do |video|
                .list-group-item.h5
                  = video.subject
                  ,
                  = video.course
                  ,
                  = link_to video.title, video.translation_handwritten.url
            = will_paginate