%html
  %head
    = stylesheet_link_tag 'videos'
  %body.container
    = render :partial => "shared/dashhead"
    
    .container
      .content
        .form-vertical
          = form_for :video, :url => {:action => :create} do |f|
            .form-group
              .h2
                Add new video
              -#= render 'shared/error_messages'
              %br
              
              = f.label :subject
              = f.text_field :subject

              = f.label :course
              = f.text_field :course

              = f.label :title
              = f.text_field :title

              = f.label :video_id, "Amara Video ID"
              = f.text_field :video_id

              = f.submit "Create Video", class: "custom-btn"