-#view for translations

%html
  = render :partial => "shared/head"
  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"


    
    .table-container
      .row
        .col-md-12
          .col-md-12.col-sm-12.col-xs-12
            %h2{:class => "list_title"} Videos Assigned To Me To QA
            %table.table.table-striped.table-bordered{:id => "list_table"}
              %tr
                %th KABT ID
                %th Course Title
                %th Due Date
                %th Actions

              - @qa_vids.each do |video|
                %tr 
                  %td= video.video_id
                  %td= video.title
                  %td 12/25/2013
                  %td= button_to 'Complete', "/users/#{@user.id}/videos/#{video.video_id}/set_qa_complete"
            / %td 
            /   %a.glyphicon.glyphicon-pencil{:href=>"#", :class => "icon"}
            /   %a.glyphicon.glyphicon-facetime-video{:href=>"#", :class => "icon"}
           
  .aval_button{:class => "button"}
    %a{:id => 'a_link', :href => 'available'} Available(#{@avail.count})

  .trans_button{:class => "button"}
    %a{:id => 'a_link', :href => 'translate'} Translate(#{@trans_vids.count})

  .digi_button{:class => "button"}
    %a{:id => 'a_link', :href => 'digitize'} Digitize(#{@digi_vids.count})
 
  .qa_button{:class => "button", :id => "qb"}
    %a{:id => 'a_link', :href => 'qa'} QA(#{@qa_vids.count})

  .compl_button{:class => "button"}
    %a{:id => 'a_link', :href => 'completed'} Completed(#{@comp.count})


