
%html

  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"
    = render :partial => "shared/nav"
    
    .container
      .content
        .panel.panel-success{:id => "list_table"}
          .panel-heading
            Video Details
          .panel-body
            %ul.list-group
              .list-group-item.h5 <b>Subject</b>: #{@video.subject}
              .list-group-item.h5 <b>Course</b>: #{@video.course}
              .list-group-item.h5 <b>Title</b>: #{@video.title}

        .panel.panel-info{:id => "list_table"}
          .panel-heading
            Video Status
          .panel-body
            %h4.status-header <span class="green">Available &rarr; Translate or Digitize &rarr;</span> <b>QA</b> &rarr; Complete
            .list-group
              .list-group-item.h5 <b>Due Date</b>: #{@video.due_date.strftime('%b %d %Y')}

              .list-group-item
                %button_to.btn.btn-info= link_to("Watch on Amara", "http://www.amara.org/en/videos/#{@video.video_id}",{:target => "_blank", :style=> 'color:white;'})
              .list-group-item
                %button_to.btn.btn-danger= link_to "Unassign Me",unassign_qa_path(),{:style=> 'color:white;', :confirm => "Are you sure you want to unassign #{@video.title} as your video to QA?", :method => :post}
            %button_to.btn.btn-primary= link_to "QA Complete", set_qa_complete_path(),{:style=> 'color:white;', :confirm => "Are you sure this video is correctly translated and ready to be viewed??", :method => :post}
