-#view for translations
= javascript_include_tag 'application'
%html

  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"

    
    .table-container
      .row
        .col-md-12
          .col-md-12.col-sm-12.col-xs-12
            %h4{:class => "list_title"} Videos Assigned To Me To Translate
            %table.table.table-striped.table-bordered{:id => "list_table"}
              %tr
                %th KABT ID
                %th Course
                %th Title
                %th Due Date
                %th Actions

              - @trans_vids.each do |video|
                %tr 
                  %td= video.video_id
                  %td= video.course
                  %td= video.title
                  %td= video.due_date.strftime('%b %d %Y')
                  %td
                    %button_to.btn.btn-primary= link_to "Translate", translate_video_path(:id => @user.id, :video_id => video.video_id),{:style=> 'color:white;'}



= render :partial => "shared/nav"


