-#view for translations

%html
  = render :partial => "shared/head"
  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"

    
    .table-container
      .row
        .col-md-12
          .col-md-12.col-sm-12.col-xs-12
            %h2{:class => "list_title"} Videos Assigned To Me To Translate
            %table.table.table-striped.table-bordered{:id => "list_table"}
              %tr
                %th KABT ID
                %th Course Title
                %th Due Date
                / %th Actions

              - @trans_vids.each do |video|
                %tr 
                  %td= video.video_id
                  %td= video.title
                  %td= video.due_date
                  / %td= button_to 'Complete', "/users/#{@user.id}/videos/#{video.video_id}/set_translate_complete"

  /%a.glyphicon.glyphicon-pencil{:href=>"#", :class => "icon"}
  /%a.glyphicon.glyphicon-facetime-video{:href=>"#", :class => "icon"}

= render :partial => "shared/trans_nav"


