
%html

  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"
    = render :partial => "shared/nav"
    .container
      .content
        .panel.panel-success{:id => "list_table"}
          .panel-heading
            Video Details
          .panel-body
            %ul.list-group
              .list-group-item.h5 <b>Subject</b>: #{@video.subject}
              .list-group-item.h5 <b>Course</b>: #{@video.course}
              .list-group-item.h5 <b>Title</b>: #{@video.title}
        .panel.panel-info{:id => "list_table"}
          .panel-heading
            Video Status
          .panel-body
            %h4.status-header <span class="green">Available &rarr;</span> <b>Translate or Digitize</b> &rarr; QA &rarr; Complete
            .list-group
              .list-group-item.h5 <b>Assigned to</b>: #{@user.name}
              .list-group-item.h5 <b>Due Date</b>: #{@video.due_date}
              .list-group-item
                .bs-example 
                  .btn-group
                    %button_to.btn.btn-default= link_to "Digital Translation", translate_video_path()
                    %button_to.btn.btn-default.active Handwritten Translation
              .list-group-item
                %button_to.btn.btn-info= link_to("Watch Video on Amara", @video.handwritten_link_format,{:style=> 'color:white;', :target => "_blank" })
              .list-group-item
                %button_to.btn.btn-danger= link_to "Unassign Video To Me", unassign_translator_path(:id => @user.id, :video_id => @video.video_id),{:style=> 'color:white;', :confirm => "Are you sure you want to unassign #{@video.title} as your video?", :method => :post}


        .panel.panel-primary{:id => "list_table"}
          .panel-heading
            Upload Handwritten Translations in .jpg, .png, or .pdf format.
          .panel-body
            .list-group
              .list-group-item
                =render :partial => "shared/form"
              .list-group-item
                %button_to.btn.btn-primary= link_to "Ready for Digitization", set_handwritten_translate_complete_path(),{:style=> 'color:white;', :method => :post}
