.aval_button{:class => "button", :id => "ab"} 
 %a{:class => 'a_link', :href => 'available'} Available(#{@avail.count})

.trans_button{:class => "button"}
 %a{:class => 'a_link', :href => 'translate', :id => "the_translate_button"} Translate(#{@trans_vids.count})

.digi_button{:class => "button"}
 %a{:class => 'a_link', :href => 'digitize'} Digitize(#{@digi_vids.count})
 
.qa_button{:class => "button"}
 %a{:class => 'a_link', :href => 'qa', :id => "the_qa_button"} QA(#{@qa_vids.count})

.compl_button{:class => "button"}
 %a{:class => 'a_link', :href => 'completed', :id => "the_completed_button"} Completed(#{@comp.count})
