.container
  .masthead
    %div
      %a.title{:href=>show_dashboard_path(current_user)} <b>Khan</b>Academy Translations
    %nav
      %ul.main-nav
        %li.welcome
          Welcome, <b>#{current_user.name}</b>
        %li.logout{ :class => 'pull-right' }
          =link_to "Logout", "/logout", :method => :delete, :confirm => "Are you sure you wish to logout?"
        %li.profile
          =link_to("Profile", user_path(current_user))
        %li.dashboard
          =link_to "Dashboard", show_dashboard_path(current_user)
        - if current_user.admin?
          %div{:id => "import_videos_form"}
            = form_tag({:controller => 'videos', :action => 'import_videos_confirmation', :method=> :post}, {:multipart => true}) do
              = file_field_tag 'videos'    
              %br
              = submit_tag 'Upload', :id => "upload_csv"

          %li.dropdown
            %a.dropdown-toggle{ :href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#" }
              Admin
              %b.caret.white-caret
            %ul.admin-dropdown.dropdown-menu{ :role => "menu" }
              %li
                = link_to "Add video", new_video_path
              %li
                = link_to "Import videos", "#", :id => "import_videos"
              %li
                = link_to "All videos", videos_index_path
              %li
                = link_to "Unassign videos", unassign_videos_path
              %li.all-users
                = link_to 'All users', users_index_path
              %li
                = link_to 'Handwritten translations', handwritten_index_path
