%ul.video-nav
	%li{:id => "avail"} 
		%a{:href => show_dashboard_path, :id => "the_avail_button"} <em>Available</em><br/><span class="counter">#{@avail_vids_num}</span>

	%li{:id => "trans"}
		%a{:href => translate_path, :id => "the_translate_button"} <em>Translate</em><br/><span class="counter">#{@trans_vids_num}</span>

	%li{:id => "digi"}
		%a{:href => digitize_path, :id => "the_digitize_button"} <em>Digitize</em><br/><span class="counter">#{@digi_vids_num}</span>
 
	%li{:id => "qa"}
		%a{:href => qa_path, :id => "the_qa_button"} <em>QA</em><br/><span class="counter">#{@qa_vids_num}</span>

	%li{:id => "compl"}
		%a{:href => completed_path, :id => "the_completed_button"} <em>Completed</em><br/><span class="counter">#{@comp_vids_num}</span>