<!DOCTYPE html>
<html>
<head>
  <title>KABT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice]%>
    <center>
       <div class="notice"> <%= flash[:notice] %></div>
    </center>
<% end%>
<%= yield %>

</body>
</html>
